[*.cs]

# IDE0055: Fijar formato
dotnet_diagnostic.IDE0055.severity = none

# IDE1006: Estilos de nombres
dotnet_diagnostic.IDE1006.severity = none

# IDE0044: Agregar modificador de solo lectura
dotnet_diagnostic.IDE0044.severity = none

# IDE0017: Simplificar la inicialización de objetos
dotnet_diagnostic.IDE0017.severity = none

# IDE0019: Usar coincidencia de patrones
dotnet_diagnostic.IDE0019.severity = none

# IDE0059: Asignación innecesaria de un valor
dotnet_diagnostic.IDE0059.severity = none

# IDE0060: Quitar el parámetro no utilizado
dotnet_diagnostic.IDE0060.severity = none
