<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Surfly.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Surfly.Properties.Settings>
            <setting name="SelectDownloadLocationInEveryDownload" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultDownloadLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultSearchEngine" serializeAs="String">
                <value>DuckDuckGo (default)</value>
            </setting>
            <setting name="AtStart" serializeAs="String">
                <value>LoadPage</value>
            </setting>
            <setting name="AtStartPage" serializeAs="String">
                <value>https://duckduckgo.com</value>
            </setting>
            <setting name="BlockTracking" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BlockedTrackers" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastLocation" serializeAs="String">
                <value>50, 50</value>
            </setting>
            <setting name="LastTimeWasMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastSize" serializeAs="String">
                <value>1270, 900</value>
            </setting>
            <setting name="InternalProfileNameForDownloads" serializeAs="String">
                <value />
            </setting>
            <setting name="SearchUrl" serializeAs="String">
                <value>https://duckcuckgo.com/?q=</value>
            </setting>
        </Surfly.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>